body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

header {
  margin-bottom: 5vh;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  /* margin-bottom: 20px; */
}

.item {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.up-button,
.down-button {
  width: 100px;
  height: 30px;
  margin: 5px 0;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.input-box {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  width: 200px;
  height: 40px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.mango {
  width: 100px;
  height: 100px;
  /* background-color: #ffffff; */
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  background-image: url("../images/mango.png");
  background-size: cover; /* Ensure the image covers the div */
}

.watermelon {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  background-image: url("../images/watermelon2.png");
  background-size: cover;
}

.lemon {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  background-image: url("../images/lemon.png");
  background-size: cover;
}

.strawberry {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  background-image: url("../images/strawberry.png");
  background-size: cover;
}

.orange {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  background-image: url("../images/orange.png");
  background-size: cover;
}

.apple {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  background-image: url("../images/apple.png");
  background-size: cover;
}

.passionflower {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  background-image: url("../images/passionflower.png");
  background-size: cover;
}

.pineapple {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  background-image: url("../images/pineapple.png");
  background-size: cover;
}

.pomegranate {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 24px;
  background-image: url("../images/pomegranate.png");
  background-size: cover;
}

<!--modal-- > .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
