* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  margin-top: 2vh;
  flex-direction: column;
  /* align-items: center; */
}
main {
  margin-top: 2vh;

  flex-direction: column;
  /* align-items: center; */
}
footer {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  width: 40vh;
  /* align-items: center; */
}
.bord {
  width: 48vh;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.square {
  background-color: gainsboro;
  height: 15vh;
  width: 15vh;
  margin: 3px;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: center;
}
.content .x:hover {
  background-color: #aaaaaa66;
}
.content .o:hover {
  background-color: #aaaaaa66;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.x {
  background-color: white;
  background-image: url("../images/X.png");
  background-size: cover;
  width: 15vh;
  height: 15vh;
  margin: 3px;
}
.o {
  background-color: white;
  background-image: url("../images/O.png");
  background-size: cover;
  width: 15vh;
  height: 15vh;
  margin: 3px;
}
